@import url('https://fonts.googleapis.com/css2? family = Cabin: ital, wght @ 1.500 & family = Signika + Negativo: wght @ 300; 400; 500; 600; 700 & display = troca');
@import url("https://fonts.googleapis.com/css?family=Numans%27");


*{
    margin: 0;
    padding: 0;

}

body{
    background-color: #FF9400;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.card{
    background-color: #ffffff80;
    padding: 30px;
    border-radius: 4%;
    box-shadow: 3px 3px 1px 0px #00000070;;
    width: 90vh;
}

h1{
    text-align: center;
    margin-bottom: 20px;

}

.label-float input{
    width: 100%;
    padding: 5px 5px;
    display: inline-block;
    border: 0;
    border-bottom: 2px solid #623122;
    background-color: transparent;
    outline: none;
    min-width: 180px;
    font-size: 16px;
    transition: all .3s ease-out;
    border-radius: 0;
}

.label-float{
    position: relative;
    padding-top: 14px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.label-float input:focus {
    border-bottom: 2px solid #a14900;
}

.label-float label{
    color: #a14900;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 14px;;
    transition: all .3s ease-out;
}

.label-float input:focus + label,
.label-float input:valid + label{
    font-size: 13px;
    margin-top: 0;
    color: #a14900;
}

.button{
    background-color: transparent;
    border-color: #eb6a01;
    color: #e6873b;
    padding: 1vh;
    font-weight: bold;
    font-size: 16pt;
    margin-top: 20px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}

.button:hover{
    background-color: #e9c837;
    color: #fff;
    transition: all .4s ease-out;
}

.justify-center{
    display: flex;
    justify-content: center;
}

hr{
    margin-top: 10%;
    margin-bottom: 10%;
    width: 60%;
}

p{
    color: black;
    font-size: 4vh;
    text-align: center;
}

a{
    color: #e68e47;
    font-weight: bold; 
    text-decoration: none; 
    transition: all .3s ease-out;
}

a:hover{
    color: black;
    
}

.fa-eye{
    position: absolute;
    top: 25px;
    right: 10px;
    cursor: pointer;

}

#msgError {
    text-align: center;
    color: #ff0000;
    background-color: transparent;
    padding: 10px;
    border-radius: 4px;
    display: none;
}

#msgSuccess {
    text-align: center;
    color: #0d520d;
    background-color: transparent;
    padding: 10px;
    border-radius: 4px;
    display: none;
}

