section{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    background: cornflowerblue;
    height: 30vh;
    
}
.categorias p {
    display: flex;
   background: rgb(212, 92, 23);
    padding: 20px;
}


footer{
    display: flex;
    justify-content: center;
    align-items: flex-end;

    
}
