 /* Geral*/
 
 body, header, ul, li, p {
     margin: 0px;
     padding: 0px;
     list-style: none;
     font-size: 1.2rem;
     font-family: Arial;
     max-width: 100%;
 }

header{
    display: flex;
    
}

 a {
     text-decoration: none;
     color: white;
 }

section{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    background: cornflowerblue;
    height: 30vh;
    
}
.categorias p {
    display: flex;
   background: rgb(212, 92, 23);
    padding: 20px;
}


footer{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: darkblue;

}